@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iran-sans";
  src: url(assets/fonts/IranianSansBold.ttf);
}
@font-face {
  font-family: "iran-sans-reg";
  src: url(assets/fonts/IranianSansRegular.ttf);
}

body {
  @apply bg-background-org font-iranSans;
}